####################################
# Python
####################################

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

.Python
env/
venv/
.venv/
ENV/

pip-wheel-metadata/

####################################
# Jupyter
####################################

.ipynb_checkpoints/

####################################
# OS files
####################################

.DS_Store
Thumbs.db

####################################
# IDE
####################################

.vscode/
.idea/

####################################
# Logs
####################################

*.log

####################################
# Data (IMPORTANT)
####################################

data/raw/
data/silver/
data/gold/

data/tmp/
data/cache/

*.parquet
*.feather
*.csv

####################################
# Models
####################################

models/
*.model
*.json
*.bin
*.pkl
*.joblib

####################################
# Reports & Plots
####################################

data/reports/

*.png
*.pdf

####################################
# SHAP
####################################

shap_*.png

####################################
# Training artifacts
####################################

evals_result.json
metrics.json

####################################
# Temporary
####################################

tmp/
temp/

####################################
# Mac + Linux
####################################

*.swp
*.swo

####################################
# Testing
####################################

.pytest_cache/
.coverage

####################################
# Build
####################################

build/
dist/
*.egg-info/

####################################
# Environment files
####################################

.env
.env.*